body {
  margin: 0;
  overflow-x: hidden;
  /*background-image: linear-gradient(90deg, #414850, #131720);*/
}

.filtri {
  width: 25%;
  float: left;
  background-color: #1d1f21;
  border-radius: 2em;
  height: min-content;
  margin-top: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 7px 1px rgba(31, 31, 31, 0.2);
}

.formFiltri {
  width: 100%;
  margin-top: 0.5em;
}

.formFiltri > label {
  color: white;
  margin-left: 5%;
  margin-top: 1em;
  display: block;
}

.formFiltri .cucinaText {
  max-width: 100%;
  width: 90%;
  margin: 0 5%;
  line-height: 2.5em;
  border-radius: 2em;
  border: none;
  color: black;
  padding: 1% 0.3rem;
}

.formFiltri > input:first-of-type:hover {
  text-decoration: none;
}

.salva {
  width: 90%;
  margin: 2em 5%;
  line-height: 2.5em;
  border-radius: 2em;
  border-style: solid;
  background-color: #01bf71;
  border: none;
  font-weight: bold;
  color: white;
}

.salva:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 911px) {
  .filtri {
    border-radius: 0;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .formFiltri > input:hover {
    text-decoration: none;
    cursor: unset;
  }
}
