body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 2em;
}

.dettagliLocale {
  margin: 2rem auto;
  color: black;
  width: 90%;
  padding: 1em 3%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 2rem;
  background-color: #1d1f21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dettagliLocale > div:first-of-type {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post_link {
  width: 100%;
  margin: 1em 0 2em;
  text-align: center;
}

.dettagliLocale .post_link a {
  color: white;
  margin: 0 1rem;
  border-radius: 50px;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: #010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

.dettagliLocale .localePost {
  font-size: 3rem;
  width: 70%;
  margin-top: 0;
}

.telDettagli {
  display: table;
  width: 30%;
  justify-content: center;
  text-align: center;
}

.telDettagli > img {
  width: 6%;
  object-fit: contain;
  float: left;
  margin-top: 1.2em;
  margin-left: 12%;
}

.telDettagli > p {
  font-size: 1em;
  width: 82%;
  float: right;
}

.dettagliLocale .valutazionePost {
  background-color: var(--verdeChiaro);
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.postcard {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #1d1f21;
  border-radius: 2rem;
  height: 600px;
  overflow: hidden;
  color: white;
  border: 0.2rem solid var(--verdeChiaro);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2em;
}

.postcard .post {
  text-align: center;
}
.rsis-image {
  border-radius: 2rem !important;
}
.postcard .image {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.postcard .postinfo {
  width: 95%;
  margin: 0 auto;
  height: 50%;
  overflow: auto;
}

.postcard .hashtag {
  margin: 0.2rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.5em;
  display: unset;
  background-color: rgba(255, 227, 117, 0.3);
  color: white;
  line-height: 2em;
}

.postcard .hashtag > span {
  word-wrap: break-word;
  display: inline-block;
}

.postcard .hashDisplay {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ratingDetails {
  text-align: center;
  width: 15%;
  float: right;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 5%;
}

.rank-label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0.3em;
}

.rank-label > img {
  width: 12%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .dettagliLocale .localePost {
    font-size: 2rem;
  }
  .telDettagli > p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .dettagliLocale .localePost {
    font-size: 1.6rem;
  }

  .telDettagli > p {
    font-size: 1.4rem;
  }
}
